<app-breadcrumb [items]="[
  {text: 'Categorias', link: '/categories'},
  {text: pageTitle}
]" >
</app-breadcrumb>
<app-pageheader
  [page-title]="pageTitle"
  button-text="Voltar"
  button-link="/categories"
  button-class="btn-light"
></app-pageheader>
<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações da Categoria
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input class="form-control" id="name" type="text" formControlName="name">
          <app-formerror [form-control]="resourceForm.get('name')"></app-formerror>
          <!--<div class="text-danger" *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').touched">-->
            <!--<small *ngIf="resourceForm.get('name').errors.required">Campo Obrigatório</small>-->
            <!--<small *ngIf="resourceForm.get('name').errors.minlength">Nome deve ter no mínimo 2 caracteres</small>-->
          <!--</div>-->
        </div>

        <div class="form-group col-md-8">
          <label for="description">Descrição</label>
          <input class="form-control" id="description" type="text" formControlName="description">
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no Servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages" >{{error}}</li>
    </ul>
  </div>
  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary float-right mt-3">
    <span class="d-flex pt-1">
      <i class="pi pi-save pr-1"></i>
      Salvar
    </span>
  </button>
</form>
