<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">{{pageTitle}}</h1>
  </div>
  <div *ngIf="showButton" class="col-md-3">
    <a [routerLink]="buttonLink" class="btn float-right" [ngClass]="buttonClass">
      <div class="d-flex justify-content-center align-items-center">
        <i *ngIf="buttonText === 'Voltar'" class="pi pi-angle-double-left pr-1"></i>
        <i *ngIf="buttonText !== 'Voltar'" class="pi pi-plus-circle pr-1"></i>
        {{buttonText}}
      </div>
    </a>
  </div>
</div>
