<app-breadcrumb [items]="[
  {text: 'Lançamentos', link: '/entries'},
  {text: pageTitle}
]" >
</app-breadcrumb>
<div class="row mb-4">
  <div class="col-md-9">
    <h1 class="h2 border-left pl-2">{{pageTitle}}</h1>
  </div>
  <div class="col-md-3">
    <a routerLink="/entries" class="btn btn-light float-right">
      <div class="d-flex justify-content-center align-items-center">
        <i class="pi pi-angle-double-left pr-1"></i>
        Voltar
      </div>
    </a>
  </div>
</div>
<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações do Lançamento
    </div>

    <div class="card-body">
      <div class="form-row">
        <!--type-->
        <div class="form-group col-md-2">
          <label for="type">Tipo</label>
          <select name="type" id="type" class="form-control" formControlName="type">
            <option *ngFor="let option of typeOptions" [value]="option.value">{{option.text}}</option>
          </select>
          <div class="text-danger" *ngIf="resourceForm.get('type').invalid && resourceForm.get('type').touched">
            <small *ngIf="resourceForm.get('type').errors.required">Campo Obrigatório</small>
          </div>
        </div>
        <!--name-->
        <div class="form-group col-md-5">
          <label for="name">Lançamento</label>
          <input class="form-control" id="name" type="text" formControlName="name">
          <div class="text-danger" *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').touched">
            <small *ngIf="resourceForm.get('name').errors.required">Campo Obrigatório</small>
            <small *ngIf="resourceForm.get('name').errors.minlength">Nome deve ter no mínimo 3 caracteres</small>
          </div>
        </div>
        <!--amount-->
        <div class="form-group col-md-3">
          <label for="amount">Valor</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-warning">R$</div>
            </div>
            <input [imask]="imaskConfig" class="form-control text-right" id="amount" type="text" formControlName="amount">
          </div>
          <div class="text-danger" *ngIf="resourceForm.get('amount').invalid && resourceForm.get('amount').touched">
            <small *ngIf="resourceForm.get('amount').errors.required">Campo Obrigatório</small>
          </div>
        </div>

        <!--date-->
        <div class="form-group col-md-2">
          <label for="date">Data</label>
          <p-calendar
            id="date"
            formControlName="date"
            inputStyleClass="form-control"
            dataType="string"
            dateFormat="dd/mm/yy"
            [locale]="ptBR"
            [showButtonBar]="true"></p-calendar>
          <div class="text-danger" *ngIf="resourceForm.get('date').invalid && resourceForm.get('date').touched">
            <small *ngIf="resourceForm.get('date').errors.required">Campo Obrigatório</small>
          </div>
        </div>
      </div>
    <div class="form-row">
      <!--paid-->
      <div class="form-group col-md-2">
        <label for="paid">Pago</label>
        <div class="btn-group" >
          <label (click)="resourceForm.get('paid').setValue(true)" [class.active]="resourceForm.get('paid').value == true"  class="btn btn-outline-info">Pago</label>
          <label (click)="resourceForm.get('paid').setValue(false)" [class.active]="resourceForm.get('paid').value == false"  class="btn btn-outline-info">Pendente</label>
        </div>
        <div class="text-danger" *ngIf="resourceForm.get('paid').invalid && resourceForm.get('paid').touched">
          <small *ngIf="resourceForm.get('paid').errors.required">Campo Obrigatório</small>
        </div>
      </div>
      <!--categoryId-->
      <div class="form-group col-md-3">
        <label for="categoryId">Categoria</label>
        <select name="type" id="categoryId" class="form-control" formControlName="categoryId">
          <option *ngFor="let category of categories" [value]="category.id" >{{category.name}}</option>
        </select>
        <div class="text-danger" *ngIf="resourceForm.get('categoryId').invalid && resourceForm.get('categoryId').touched">
          <small *ngIf="resourceForm.get('categoryId').errors.required">Campo Obrigatório</small>
        </div>
      </div>
      <!--description-->
      <div class="form-group col-md-7">
        <label for="description">Descrição</label>
        <input class="form-control" id="description" type="text" formControlName="description">
      </div>
    </div>
  </div>
  </div>

  <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
    <strong>Erro no Servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{error}}</li>
    </ul>
  </div>
  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary float-right mt-3">
    <div class="d-flex pt-1">
      <i class="pi pi-save pr-1"></i>
      Salvar
    </div>
  </button>
</form>
